{% extends '::base.html.twig' %}

{%block content%}

<h1>Carpeta list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Numeroreferencia</th>
            <th>Denominacion</th>
            <th>Comentarios</th>
            <th>Fechainicio</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('carpeta_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.numeroReferencia }}</td>
            <td>{{ entity.denominacion }}</td>
            <td>{{ entity.comentarios }}</td>
            <td>{% if entity.fechaInicio %}{{ entity.fechaInicio|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('carpeta_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('carpeta_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('carpeta_new') }}">
            Create a new entry
        </a>
    </li>
</ul>

{%endblock%}
