{% extends 'IamSoftAndrethaBundle:Default:base.html.twig' %}

{%block content%}

<h1>Carpeta creation</h1>

<form action="{{ path('carpeta_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('carpeta') }}">
            Back to the list
        </a>
    </li>
</ul>

{%endblock%}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript"> var urlSetDefaultNumeroReferencia = "{{ path('carpeta_ajax_get_next_numero_referencia') }}"; </script>
  <script type="text/javascript" src="{{ asset('js/jquery-1.7.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/iamsoftandretha/js/carpeta/new.js') }}"></script>

{% endblock %}