<h3>
<ul>
  
  <li>
    Configuraci&oacute;n de Datos Maestros
    <ul>
      <li><a href="{{path('escribano')}}">Escribanos</a></li>
      <li><a href="{{path('registro')}}">Registros</a></li>
      <li><a href="{{path('caracter')}}">Caracteres</a></li>
      <li><a href="{{path('registro_escribano')}}">Registros por Escribano</a></li>
      <li><a href="{{path('libro')}}">Libros</a></li>
      <li><a href="{{path('tipocarpeta')}}">Tipos de Carpetas</a></li>
      <li><a href="{{path('tipotramite')}}">Tipos de Tramites</a></li>
      <li><a href="{{path('tipodocumentoidentidad')}}">Tipos de Documento de Identidad</a></li>
    </ul>
  </li>
  
  <li>
    Gesti&oacute;n de Recursos
    <ul>
      <li><a href="{{path('loteactas')}}">Lotes de Actas</a></li>
      <li><a href="{{path('loteanexos')}}">Lotes de Anexos</a></li>
      <li><a href="{{path('cliente')}}">Clientes</a></li>
      <li><a href="{{path('personeriacliente')}}">Personerias de Clientes</a></li>
    </ul>
  </li>
  
  <li>
    Manejo de Emprendimientos y Carpetas
    <ul>
      <li><a href="{{path('emprendimiento')}}">Emprendimientos</a></li>
      <li><a href="{{path('carpeta')}}">Carpetas</a></li>
      <li><a href="{{path('carpetaemprendimiento')}}">Carpetas por Emprendimiento</a></li>
    </ul>
  </li>
  

</ul>
</h3>
