{% extends '::base.html.twig' %}

{%block content%}

<h1>LoteActas list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Numpreimpresoini</th>
            <th>Cantidad</th>
            <th>Fechacompra</th>
            <th>Cantidadusados</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('loteactas_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.numPreImpresoIni }}</td>
            <td>{{ entity.cantidad }}</td>
            <td>{% if entity.fechaCompra %}{{ entity.fechaCompra|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{{ entity.cantidadUsados }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('loteactas_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('loteactas_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('loteactas_new') }}">
            Create a new entry
        </a>
    </li>
</ul>

{%endblock%}
